body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}
.body{
    display: flex;
    flex: 1;
    flex-direction: column;
}

.header{
    display: flex;
    height: 72px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #1F2937;
}
.lefttitle{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.alllinks{
    display: flex;
    font-size: 18px;
    gap: 16px;

}

.footer{
    display: flex;
    height: 72px;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    color: #F9FAF8;
}

.cont1{
    display: flex;
    background-color: #1F2937;
    justify-content:space-around ;
    align-items: center;
    flex:1;
    flex-wrap: wrap;
    padding: 100px;
    
}

.cont2{
    display: flex;
    background-color:#F9FAF8;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-bottom: 100px;
}

.cont3{
    display: flex;
    padding: 110px;
    background-color: #E5E7EB;
    flex-direction: column;
    flex: 1;
    
    }
.tx1{
    display: flex;
    font-style: italic;
    font-size: 36px;
    color: #1F2937;
    font-weight: 100;
    margin-left: 20%;
    margin-right: 20%;
}
.tx2{
    display: flex;
    justify-content: flex-end;
    margin: 10px;
    color: #1F2937;
    font-weight: bold;
    font-size: 24px;
    margin-right: 20%;
}

.cont4{
    display: flex;
    height: 300px;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 100px;
    flex-wrap: wrap;

}
.allcont4{
    display: flex;
    flex-direction: row;
    background-color: #3882F6;
    height: 120px;
    width: 800px;
    align-items: center;
    justify-content: space-around;
    border-radius: 3%;
}

.xt1{
    display: flex;
    color: #F9FAF8;
    font-weight: 900;
    font-size: 24px;
}
.xt2{
    color: #F9FAF8;
}
.allcont4 button{
    background: #3882F6;
    border: 1px solid #ffffff;
    color: white;
}


a{
    text-decoration: none;
    color: #E5E7EB;

}

.leftcont1{
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 323px;
    width: 500px;
    flex-wrap: wrap;
}
.titleleftcont1{
    display: flex;
    font-size: 48px;
    font-weight: bold;
    color:#F9FAF8;;
}

.paraleftcont1{
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 15px;
}
.rightcont1{
    display: flex;
    height: 250px;
}
button{
    padding: 8px 16px;
    border-radius: 8px;
    width: 100px;
    
    
}
.leftcont1 button{
    background: #3882F6;
    border: 1px solid #3882F6;
    color: white;
}
.allcont2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    
   
}
.titlecont2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    margin: 30px;
}

.c{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
.pict{
    display: flex;
    height: 250px;
    width: 250px;
    border-style: solid;
    border-radius: 20%;
    border-color: #3882F6;
}
.pict img{
    border-radius:20%;
}

.tx{
    display: flex;
    margin: 15px;
    color: #1F2937;
    font-size: 24px;
    
}

